<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.stock.stock.mapper.MemberPositionMapper">

    <select id="selectByList" resultType="com.ruoyi.stock.stock.domain.MemberPosition">
        select
        b.*,
        m.account_type,
        m.real_name as memberRealName,
        m.phone as memberPhone,
        u.user_id,
        u.nick_name as user_name
        from member_position b
        left join member m on b.member_id = m.id
        left join sys_user u on u.user_id = m.user_id
        <if test="ew.customSqlSegment != null">
            ${ew.customSqlSegment}
        </if>
    </select>
</mapper>
